
<footer class="page-footer font-small mdb-color pt-4 pad">
    <div class="text-center text-md-right">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a href="https://m.facebook.com/peter.kimeli.16"><i class="fab fa-facebook box" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://mobile.twitter.com/KIMELIPETER4"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="mailto:kimelipeter20@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/peter-kimeli-7a59b2155" class="fab fa-linkedin" aria-hidden="true"><i></i></a>
            </li>
            <li class="list-inline-item">
                <a href="/gallery" class="fa fa-images" aria-hidden="true"><i></i></a>
            </li>
        </ul>
        <p><i class="fa fa-phone"></i>0708995320, 0725866617, 0732905782</p>
        <p>&copy; 2018</p>
    </div>
</footer>

