
<div class="home">
    <div class="title">
        <h1 class="text-center">PETER KIMELI</h1>
    </div>

        <h2 class="text-center">Computer Science Professional</h2>

       <div class="col-md-4">
            <h2>PERSONAL DETAILS</h2>
           <p><strong>NAME:</strong> KIMELI PETER TANUI</p>
           <p><strong>TEL NO:</strong> 0708995320/0725866617</p>
           <p><strong>GENDER:</strong> MALE</p>
           <p><strong>ADDRESS:</strong> 657-10100, NYERI</p>
           <p><strong>EMAIL:</strong> kimelipeter20@gmail.com</p>
           <p><strong>Github:</strong> kimpetertanui</p>
           <p><strong>NATIONALITY:</strong> KENYAN</p>
           <p><strong>RELIGION:</strong> CHRISTIAN</p>
           <p><strong>DOB:</strong> 07-09-1993</p>
       </div>

        <div class="rounded" id="icon">
            <img width="300px" height="300px" src="/images/man1.jpg">
        </div>

        <h2>PERSONAL SUMMARY</h2>

       <p> A highly resourceful, innovative, and competent PHP, Android, Django, Python developer with extensive
           experience in the layout, design and coding of websites specifically in Django and PHP format.
           Possessing considerable knowledge of the development of mobile applications and coding using android
           programming language and MySQL & SQL Server databases. </p>


    <h2>WORK EXPERIENCE</h2>
        <p><strong>Jan-May 2018:</strong> Eldohub Research and Training Technology Center</p>
        <ul>
            <li>Lead technical software developer/attachee</li>
            <li>Trainer for android developers and Web Apps specifically in Djanngo Framework and PHP.</li>
            <li>Facilitated  collaborations between teams with Github best practices.</li>
            <li>Responsible for debugging code branches in Python ,Android ,Django ,PHP , Java and HTML.</li>
            <li>Assisted with project to improve communication between developers      and operations. Help stakeholders prep for daily scrums.</li>
            <li>Facilitator for android meet ups talks.</li>
        </ul>
        <p><strong>Jan-May 2017: Cisco</strong></p>
        <p>Dedan Kimathi University of Technology</p>


        <h2>ACADEMIC QUALIFICATIONS</h2>
        <h3>UNIVERSITY</h3>
        <p><strong>SEP 2015 –PRESENT</strong></p>
        <p>Dedan Kimathi University of Technology</p>
        <p>Bachelor of Science in Computer Science</p>
        <h3>HIGH SCHOOL</h3>
        <p><strong>2011-2014</strong></p>
        <p>St.John Secondary School Tach-Asis</p>
        <p>A- (75 points)</p>
        <h3>PRIMARY SCHOOL</h3>
        <p><strong>2003 TO 2010</strong></p>
        <p>Ainapng’etuny Primary School</p>
        <p>I managed to score 335 marks out of the required 500 marks by Kenya national examination council.</p>

        <h2>ACADEMIC AWARDS & DISTINCTIONS</h2>
        <p>Reens Education Consultants - Kipsigak Boys High School- Nandi 2012</p>
        <p>Rift Valley Students Science and Engineering Fair - St.Patrick's Boys High School- Iten June, 2014</p>
        <p>Nandi County Students Science and Engineering Fair - Chebisaas Girls High School- Nandi May ,2014</p>
        <p>Tinderet Sub-County Students Science and Engineering Fair - Meteitei Boys High School- Nandi March, 2014</p>
        <p>Dedan Kimathi University   Hackathon                           May,2016</p>
        <p>Dedan Kimathi University   Hackathon                           October,2016</p>
        <p>Dedan Kimathi University   Hackathon                           June ,2017</p>
        <p>GDG 2017 Nakuru  at Kabarak University</p>
        <p>Strathmore University DevFest Nairobi                          2017 November</p>
        <p>DeHub 2018 hackathon Dedan Kimathi University                  June 2018</p>
        <p>ALC Android Developer                                          May-July 2018</p>


        <h2>PROJECTS</h2>
             <ol>
                 <li class="lead">eApp</li>
                   This is a lecturer evaluation android app a university uses to review and rate lecturer performance and effectiveness in a classroom.Ideally, the findings from these evaluation are used to  provide feedbacks to lectures and guide their professional development.
                 <li class="lead">RealEstate</li>
                    This is an android app use by tenants to locate a rental house anywhere at any
                    time.App's background is a map pulled from Google Maps API using current
                        device location.App use JavaScript, Jquery ,PHP and CSS.
                 <li class="lead">GlobeLink</li>
                    An android app where users sell and buy their items online.App  integrates
                      M-PESA API payment, JavaScript ,android and PHP.

                 <li class="lead">Limaris Technologies</li>
                    Built a website for Limaris Technology company. It uses  PHP,HTML ,CSS and
                        JavaScript. The company's link is  limaris.co.ke
                 <li class="lead">OshaApp</li>
                 For clients-Osha is convenient, inexpensive and safe washing service. Hire a private client to
                 wash clothes for you with the tap of a button on any smart phone device. A nearby washer often arrives to
                 wash within minutes. For those who wash, Osha provides exceptional pay, allows you to be your own boss,
                 and even receive tips. To take on charges whenever you wish(work as much or as little as you desire)
                 while meeting new people in your area from all walks of life!
             </ol>
       <h2>KEY SKILLS AND COMPETENCIES</h2>
        <ul>
            <li>Ability to multi-task, react quickly to shifting priorities and meet deadlines.</li>
            <li>Proactive, confident and with a positive "can-do" attitude.</li>
        	<li>Able to clearly communicate technical data to non-technical colleagues and clients.</li>
        	<li>Continuously monitoring industry trends, technologies and standards.</li>
        	<li>Possessing all-round analysis and programming skills.</li>
        	<li>Methodical yet creative & having a proven ability for efficient problem solving.</li>
        	<li>Excellent attention to detail both front and back end.</li>
        	<li>Solid web development experience using PHP, Django, MySQL, JavaScript, XML, HTML and CSS.</li>
            <li>Able to plan the structure of a database.</li>
        	 <li>Ability to quickly understand complex problems and devise effective solutions</li>
        </ul>

    <h2>AREAS OF EXPERTISE</h2>
        <ul>
            <li>Object Orientated Programming</li>
            <li> Web developing / programming</li>
            <li>Python,Java and C++.</li>
            <li>Mobile app developer in Android</li>
            <li>SQL and postresql Databases</li>
             <li>PHP MVC Frameworks and Django</li>
        </ul>

    <h2>PERSONAL SKILLS</h2>
         <ul>
        	 <li>I am an organized and efficient person with an enquiring mind.</li>
             <li>I am a flexible person seeking attachment which will allow development, growth and make use of my existing skills.</li>
             <li>I am a good listener and learner, and am able to communicate well with people from all walks of life.</li>
             <li>I am a keen, hardworking, reliable and excellent time keeper.</li>
             <li>I am a bright and receptive person, able to communicate well with people at all levels.</li>
             <li>I am good at working using my own initiative and I am flexible in my approach to work duties.</li>
             <li>I have a good sense of humor and a pleasant approach.</li>
             <li>I am a loyal and trustworthy person who can work alone or as part of a team.</li>
             <li>I am a quick to learn and willing to adapt to any job.</li>
             <li> I am a competent, loyal, hardworking person with the ability to achieve tasks when working alone or as part of a team.</li>
             <li>I am punctual with an excellent attendance record.</li>
             <li>I have a flexible and positive approach to work and am willing to train to suit my next working environment.</li>
             <li>I am an organised, efficient and hard working person, and am willing to discover and accept new ideas which can be put into practice effectively.</li>
             <li>I always seek to achieve a high standard in whatever work I undertake.</li>
             <li>I am well organised with a clear and positive approach to problem solving.</li>
             <li>I am able to communicate easily in both spoken and written forms.</li>
             <li>I am a hard working, loyal and mature worker with a variety of skills to offer.</li>
             <li>I am keen to obtain new skills and training and have a flexible approach to all work situations, and find it easy to adapt.</li>
         </ul>

</div>


