<h1>Gallery</h1>
<div class="row">
    <div class="col-md-6 ">
        <img class="img-responsive gal gal-top" src="/images/gal3.jpg">
        <p class="txtgal">Celebrations with my colleagues at the end of the ASK Nyeri 2017 after successful projects presentation. </p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive gal gal-top" src="/images/gal4.jpg">
        <p class="txtgal">Showcasing my project to the Germans Citizens at ASK Nyeri 2017 during an annual ASK Show at Nyeri Show ground. </p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive gal gal-left" src="/images/gal6.jpg">
        <p class="txtgal">Showcasing my project to the President of the Republic of Kenya His Excellency President Uhuru Kenyatta ,
            the Vice Chancellor of Dedan Kimathi University of Technology Professor Paul N Kioni and the Nyeri
            Governor during an annual Nyeri ASK September 2017.The android app is called OshaApp. </p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive gal gal-right" src="/images/gal2.jpg">
        <p class="txtgal"> Cake celebration after Google I/O April 2017 at Dedan Kimathi University of Technology Hub (DeHub) .
            After winning the hackathon with the team.. </p>
    </div>
    <div class="col-md-4">
        <img class="img-responsive gal gal-left" src="/images/gal7.jpg">
        <p class="txtgal"> Coding session at Eldohub ,Eldoret during my attachment duration,January-April 2018. </p>
    </div>
    <div class="col-md-4">
        <img class="img-responsive gal gal-center" src="/images/gal8.jpg">
        <p class="txtgal">Software developer team from Dedan Kimathi university at ASK Nyeri Show 2017 showcasing the projects to the Nyeri Governor. </p>
    </div>
    <div class="col-md-4">
        <img class="img-responsive gal1 gal gal-right"  src="/images/gal1.jpg">
        <p class="txtgal"> With the Mechatronics Engineering Student From Dedan Kimathi University of Technology: German
            based citizen during the presentation at the annual 2017 Nyeri ASK Show. </p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive gal gal-left" src="/images/gal10.jpeg">
        <p class="txtgal">At the Andela Learning Community (ALC) session Nyeri event held at Dedan Kimathi University of Technology June 2017.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive gal gal-right" src="/images/gal11.jpeg">
        <p class="txtgal">Training other software developer beginners for Android at Eldohub innovation and Research Center April 2018.</p>
    </div>

    <div class="col-md-6">
        <img class="img-responsive gal gal-left" src="/images/gal9.jpeg">
        <p class="txtgal">With Git trainers celebration after GitHub Meetup on March 2018 at Eldohub Innovation and Research Center ,Eldoret- Kenya.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive gal gal-right" src="/images/gal12.jpeg">
        <p class="txtgal">With the dedicated developer teams at Eldohub during codelab session rebuilding company website.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive gal gal-left" src="/images/gal13.jpeg">
        <p class="txtgal">During a Firebase Meetup November 2016 at Kabarak University and GDG event.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive gal gal-right" src="/images/gal5.jpg">
        <p class="txtgal">After giving a talk  on  Django Meetup May 5 2018 at Eldohub,Eldoret.Specific topics covered were:

            What is a web framework and why would one use a framework?

            Why would one use Django?

            What problems are Django well suited to solve?

            What are the basic goals, principles, and patterns that guide the Django project/community?

            What tools are available out of the box with Django?

            What resources are available to learn about and explore the Django community?</p>
    </div>
</div>