<div>
    <section>
        <div class="logo col-md-12">
            <img class="img-responsive">
        </div>
    </section>
    <div class="hometitle">
        <h1 class="text-center">PETER KIMELI</h1>
        <div class="text-center">
        <p> Passionate computer science degree holder from Dedan Kimathi University of Technology <br>
            with diverse work experience, including programming, software development, and consulting. Extensive<br>
            knowledge of software development cycle as well as proficiency in several programming languages. Dedicated to<br>
            meeting customer requirements with innovative solutions that maximize efficiency and exceed capability targets. Consistently<br>
            use in-depth knowledge  of budgetary issues affecting development and implementation to create cost-effective solutions. Comfortable<br>
            discussing technical issues and solutions with scientists and analysts as well as clients. Associated with the <b>Google Developers Group(GDG)</b> based in Nyeri</p>
        </div>
        <div class="col-lg-12 text-center">
            <p><a class="glowingbtn btn-lg " href="/kims">View CV</a></p>
        </div>
    </div>
</div>

